<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="nav justify-content-between py-2 fs-3 bg-light ">
          <a class="nav-link active" href="#" aria-current="page"><strong>My Blog</strong> </a>
          <a href="{% url 'index'%}" class="nav-link">Home</a>
        </nav>

        <section>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </div>
</body>
</html>